@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hướng Dẫn";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-question-circle"></i>
            <h3>Hướng dẫn sinh viên </h3>
        </div>
        <div class="widget-content">
            <h3>Tìm kiếm</h3>
            <br />
            <ol class="faq-list">
                <li>
                    <h4>Hướng dẫn đăng ký học phần</h4>
                    <h4>Hướng xem tin tức </h4>
                    <p>
                        Để đăng ký học phần iuh ...
                    </p>
                </li>
                <li>
                    <h4>Hướng dẫn đăng nhập website</h4>
                    <p>
                        Để đăng nhập vào website đầu tiên sinh viên phải kích hoạt tài khoản ...
                    </p>
                </li>
                <li>
                    <h4>Hướng dẫn thay đổi thông tin cá nhân & mật khẩu</h4>
                    <p>
                        Để thay đổi thông tin cá nhân & mật khẩu ...
                    </p>
                </li>
                <li>
                    <h4>Quy chế & Quy định</h4>
                    <p>
                        Quy chế & Quy định bla bla...
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>