@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chương Trình Đào Tạo";
}

<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class="fa fa-briefcase"></i>
            <h3>Chương trình đào tạo</h3>
        </div>
        <div class="widget-content">
            Chương trình đào tạo
        </div>
    </div>
</div>