@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thông Tin Sinh Viên";
}

<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class="fa fa-search"></i>
            <h3>Danh sách sinh viên</h3>
        </div>
        <div class="widget-content">
            Danh sách sinh viên
        </div>
    </div>
</div>