@model DaoTaoTinChiCIT.Models.web_tintuc

@{
    string action = ViewData["Action"].ToString();
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@ViewData["Title"].ToString()</h3>
</div>
@using (Html.BeginForm(action, "Test", FormMethod.Post, new { @class = "form-custom" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="span10">
                <div class="control-group">
                    @Html.HiddenFor(tt => tt.ID)
                    <label class="control-label">Bạn có chắc chắn muốn xóa thông báo này?</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Không</button>
        <button class="btn btn-primary" type="submit">Có</button>
    </div>
}
